button.nav-link {
    background: #e9ecef;
    border-radius: 0;
    border: none;

    &:focus {
        outline: none;
    }
    &.active:hover {
        color: white;
    }
    & :active {
        outline: none;
    }
    &.active:focus {
        outline: none;
    }
    /*21.274.5 Adding css to improve the letters on the component ->*/
    &:disabled:not(.active) {
        color: #333;
    }
}