<!--19.239. Add html for summary ->basket-summary.component.ts-->
<div class="mt-4">
    <!--19.239.3 Send the isBasket to the review -> basket-summary.html-->
    <app-basket-summary 
    [isBasket]=false
    [items]="(basket$ | async).items"
    ></app-basket-summary>
</div>
<!--19.240.2 Add back and forward buttons -> checkout-payment.component.html-->
<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
    <button class="btn btn-outline-primary" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i> Back to Delivery
    </button>
    <!--21.263.2 Add createPaymentIntent() for testing -> basket.ts-->
    <button class="btn btn-primary" (click)="createPaymentIntent()">
        Go to Payment <i class="fa fa-angle-right"></i> 
    </button>
</div>