<!--9.89.1 add html ->9.90-->
<!--<ul>
    <li class="list-unstyled" *ngFor="let product of products">
        {{product.name}}
    </li>
</ul>-->

<!--9.90 -> add better html ->product-tem.html-->
<div class="container mt-3">
  <div class="row">
    
    <section class="col-3">
      <!--12.131 add ng if only to show if there is types and brands -->
      <ng-container *ngIf="types && brands">
        <h5 class="text-warning ml-3 mt-4 mb-3">Sort</h5>
        <!--9.96.2 Add sorting html ->shared.module.ts-->
        <select class="custom-select mb-4" (change)="onSortSelected($event.target.value)">
          <!--21.285.7 Add selected value for sort in html 
            [selected]="shopParams.sort === sort.value" -> shop.component.scss-->
          <option *ngFor="let sort of sortOptions" 
          [selected]="shopParams.sort === sort.value"
          [value]="sort.value">
            {{sort.name}}
          </option>
        </select>

        <!--9.93.4 add html for brands and types ->shop.service.ts-->
        <!--9.95 Add html for filters and types -> shop.component.ts-->
        <h5 class="text-warning ml-3">Brands</h5>
        <ul class="list-group my-3">
          <li class="list-group-item" *ngFor="let brand of brands" [class.active]="brand.id === this.shopParams.brandId"
            [value]="brand.id" (click)="onBrandSelected(brand.id)">
            {{brand.name}}
          </li>
        </ul>

        <h5 class="text-warning ml-3">Types</h5>
        <ul class="list-group my-3">
          <li class="list-group-item" *ngFor="let type of types" [class.active]="type.id === this.shopParams.typeId"
            [value]="type.id" (click)="onTypeSelected(type.id)">
            {{type.name}}
          </li>
        </ul>
      </ng-container>
    </section>


    <section class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <!--9.100 Add html for pagination header -> paging-header.html-->
        <!--<header>
          <span *ngIf="totalCount && totalCount > 0">
            Showing 
            <strong>{{(this.shopParams.pageNumber - 1) * this.shopParams.pageSize + 1}} - 
              {{this.shopParams.pageNumber * this.shopParams.pageSize 
              > this.totalCount ? this.totalCount : this.shopParams.pageNumber * this.shopParams.pageSize}}
            </strong> 
            of <strong>{{this.totalCount}}</strong> Results
          </span>
          <span *ngIf="totalCount === 0">
            There are <strong>0</strong> results for this filter
          </span>
        </header> -->
        <!--9.101.4 add paging hader and pass parametres ->shared.module.ts-->
        <app-paging-header>
          [totalCount]="totalCount"
          [pageSize]="this.shopParams.pageSize"
          [pageNumber]="this.shopParams.pageNumber"
        </app-paging-header>
        <!--12.131 add ng if only to show if there is types and brands ->shop.component.ts 
        12.132.5 Delete mt at search ->
      -->
        <div class="form-inline" *ngIf="products">
          <!-- 9.103 add template reference in #search -> shop.componenet.ts
              9.103.2 add onClick() ->shop.service.ts
              9.103.4 add keyup event for enter functionality -> shop.componenet.ts
              
          -->
          <input (keyup)="onSearch()" type="text" style="width: 300px;" #search placeholder="Search"
            class="form-control mr-2">
          <button (click)="onSearch()" class="btn btn-outline-primary my-2">Search</button>
          <button (click)="onReset()" class="btn btn-outline-success ml-2 my-2">Reset</button>
        </div>
      </div>

      <div class="row">
        <div class="col-4 mb-4" *ngFor="let item of products">
          <app-product-item [product]="item"></app-product-item>
        </div>
      </div>
      <!--9.97.2 add html for pagination ->shopParams.ts-->
      <!--9.98.4 change pagination html -> shop.service.ts-->
      <!--9.99.2 add html for paging -> -->
      <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
        <!--<pagination 
      [boundaryLinks]="true" 
      [totalItems]="this.totalCount"
      (pageChanged)="onPageChanged($event)"
      [itemsPerPage]="this.shopParams.pageSize"
      previousText="&lsaquo;" 
      nextText="&rsaquo;"
      firstText="&laquo;" 
      lastText="&raquo;">
      </pagination> -->
        <!--9.102.3 add app-pager tag ->-->
        <!--21.285.5 Add page number to shop component -> shop.component.ts-->
        <app-pager 
        [pageSize]="shopParams.pageSize" 
        [totalCount]="totalCount" 
        [pageNumber]="shopParams.pageNumber"
        (pageChanged)="onPageChanged($event)">
        </app-pager>
      </div>
    </section>
  </div>
</div>